@charset "utf-8";

/////////////////////////////////////
// HEADER
/////////////////////////////////////
.l-header{
	overflow: hidden;
	position:fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	line-height: 40px;
	background-color: $COLOR_WHITE;
	.c-brand{
		height: 100%;
		width: 50%;
		font-size: 20px;
	}
	.c-nav{
		height: 100%;
		width: 50%;
		ul{
			width: 100%;
			li{
				width: 25%;
				a{
					display: block;
					height: 100%;
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}